html {
	box-sizing: border-box;
}
*, *::after, *::before {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	color: white;
}
.container {
    width: 89%;
    max-width: 1200px;
    margin: 0 auto;

}
a {
	text-decoration: none;
}
/* */

.front {
	width: 100vw;
	height: 100vh;
	background: url("sky.png");
	animation-name: bk;
	background-size: cover;
	animation-duration: 20s;
	animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-repeat: repeat-y;
	z-index: -1;
}
@keyframes bk {
	from { background-position: 0 0; }
	to { background-position: 0 100vh; }
}
.header {
	position: fixed;
	z-index: 500;
    width: 100%;
    height: fit-content;
    background-color: transparent;
}
.nav {
	height: 80px;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.nav {
	max-width: 1170px;
}
.nav .toggle {
	margin-left: 0;
	height: 40px;
	width: 50px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	cursor: -webkit-pointer;
	-webkit-cursor: pointer;
	float: left;
	z-index: 1000;
}
.toggle span.line {
	width: 40px;
	height: 5px;
	background-color: yellow;
	margin-top: 5px;
}
.toggle span.line:first-child {
	width: 40px;
	height: 5px;
	background-color: yellow;
	margin-top: 0;
}
.logo {
	z-index: 1000;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	padding-top: 25px;
}
.logo h1 {
	color: yellow;
	font-family: "Ink Free";
	font-weight: 900;
}
.workspace-container {
	z-index: 1000;
	cursor: pointer;
	width: fit-content;
	height: fit-content;
}
a.workspace {
	height: 44px;
	font-weight: 900;
	text-decoration: none;
	border: 2px solid yellow;
	border-radius: 44px;
	padding: 10px;
	font-family: "Ink Free";
	cursor: pointer;
	color: yellow;
	transition: .3s all ease-in;
}
a.workspace:hover {
	background: yellow;
	color: chocolate;
}
.navigation {
	width: 100%;
	padding-top: 100px;
}
.navbar {
	height: fit-content;
	width: fit-content;
	display: none;
}
.navbar h2 {
	padding-bottom: 50px;
}
.navbar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}
.navbar ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	padding-bottom: 20px;
}
.navbar ul li img.pl-icon{
	width: auto;
	height: 30px;	
	padding-bottom: 0;
	padding-right: 20px;
}

/* */
.navbar.closed {
	display: block;
}
.navbar.closed * {
	animation: slide-lr 0.5s;
}
@keyframes slide-lr {
	0% { transform: translate(-200px); }
	100% { transform: translate(0);}
}
@keyframes slide-rl {
	0% { transform: translate(0); }
	100% { transform: translate(-200px); }
}
.navbar li:last-child {
	border-bottom: 1px solid yellow;
}
.navbar h2 {
	text-decoration: underline;
	font-family: "Ink Free";
	font-weight: 900;
	color: linear-gradient(0deg, red 80%, yellow 10%);
}
.navbar ul li a {
	font-family: "Ink Free";
	font-weight: 900;
	cursor: pointer;
}


/*  */
.section-intro {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.section-intro .container {
	padding-top: calc(100vh/4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.section-intro h1 {
	font-family: "Ink Free";
	font-weight: 900;
}
.section-intro p {
	color: lightgrey;
	font-family: "Ink Free";
	font-weight: 900;
}
.spaceship {
	width: 150px;
	height: 200px;
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}
button#launch {
	font-size: 20px;
	font-family: "Ink Free";
	font-weight: 900;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 40px;
	border: 3px solid yellow;
	background-color: transparent;
	color: yellow;
	animation: disco 2s forwards infinite;
}
button#launch:hover {
	border: 3px solid yellow;
	background-color: yellow;
	animation: color-changing 2s forwards infinite;
}
@keyframes disco {
	0% { border-color: yellow; color: yellow; }
	25% { border-color: lightgreen; color: lightgreen; }
	50% { border-color: blue; color: blue; }
	75% { border-color: orange; color: orange; }
	100% { border-color: tomato; color: tomato; }
}
@keyframes color-changing {
	0% { color: yellow; }
	25% { color: green; }
	50% { color: blue; }
	75% { color: orange; }
	100% { color: tomato; }
}
.spaceship img#rocket {
	z-index: 1000;
}
.jc-booster-flames{
  background-color:yellow;
  margin: 0 auto;
  margin-top: -10px;
  z-index: 999;
  height:45px;
  width:45px;
 border-radius: 0 50% 50% 50%;
  transform:rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  animation: flames 2s linear infinite;
}

@keyframes flames {
    0% { transform: scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg); }
    25% { transform: rotate(45deg) skew(8deg, 8deg) rotate(180deg) scale(1.15); }
    50% { transform: scale(1.3) rotate(45deg) skew(8deg, 8deg) rotate(180deg); }
    75% { transform: scale(1.08) rotate(45deg) skew(8deg, 8deg) rotate(180deg); }
    100% { transform: scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg); }
}
@keyframes flames{
  0%{
    transform:scale(0.8) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  20%{
    transform: scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  50%{
    transform: scale(0.6) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  70%{
    transform:scale(1) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
  100%{
    transform:scale(0.8) rotate(45deg) skew(8deg, 8deg) rotate(180deg);
  }
}

